h1 {
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}
h3 {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: small;
}
ul,
ol {color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: smaller;
}
img {
    height:auto;
    width: 500px;
}